.outerCardContainer {
  @apply p-2
  rounded-[20px]
  overflow-hidden
  max-w-[300px] 
  h-auto
  lg:max-w-[400px];
}

.innerCardContainer {
  @apply border-[3px]
  rounded-[20px]
  overflow-hidden;
}

.cardWrapper {
  @apply w-full
  h-[270px]
  lg:h-[340px]
  bg-cover
  bg-no-repeat;
}

.cardWrapper::before {
  @apply content-['']
  absolute
  inset-[-1px]
  bg-gradient-to-t
  from-5%
  to-100%
  rounded-xl
  z-10;
  mask-image: url(../../assets/mask-image.svg);
  mask-position: 50% 40%;
  mask-repeat: no-repeat;
  mask-size: cover;
}

.cardOutline {
  @apply bg-card-outline 
  absolute 
  top-[10px]
  left-[0px]
  bottom-[0px]
  right-[0px]
  bg-cover 
  z-20 
  bg-center 
  bg-no-repeat;
}

.cardLogoWrapper {
  @apply absolute
  top-4
  left-5
  lg:top-9
  lg:left-12
  flex
  z-30
  justify-center;
}

.tooltip {
  @apply absolute 
  bg-gray-100 
  rounded-lg 
  transition-all
  duration-300
  ease-in-out
  top-[-55px] 
  z-50
  left-0 
  text-black 
  w-full 
  text-xs 
  font-bold 
  p-2 
  text-left;
}

.tooltip::after {
  @apply content-['']
  absolute
  top-[100%]
  left-[10%]
  -translate-x-1/2
  border-solid
  border-8
  border-t-gray-100
  border-x-transparent
  border-b-transparent;
}

.rewardsContainer {
  @apply bg-gray-600 
  bg-opacity-40 
  w-full 
  h-[65px] 
  flex 
  px-5 
  items-center 
  justify-between 
  text-white;
}

.rewardsCount {
  @apply text-base 
  font-bold;
}

.rewardsWrapper {
  @apply flex 
  items-center 
  justify-center 
  gap-2;
}

.rewardsLabel {
  @apply text-base 
  font-bold;
}

.rewardsIconWrapper {
  @apply flex 
  items-center 
  justify-center 
  gap-1 
  w-10 
  h-10 
  bg-white 
  bg-opacity-20 
  rounded-full 
  relative;
}

.rewardsBadge {
  @apply absolute 
  top-[-5px] 
  right-[-2px] 
  w-4
  h-4 
  text-white 
  border-[1px] 
  border-white 
  rounded-full 
  flex 
  items-center 
  justify-center 
  text-xs 
  font-bold;
}
